/*
  Images
*/
#codelab img {
    filter: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.08));
  }
  
  /*
    Intro
  */
  .project-page .title .logo {
    width: 3rem;
  }
  #codelab .caption {
    margin-top: 1rem;
    text-align: left;
    color: var(--gray);
  }