/*
  Images
*/
#hands-together img {
  width: 100%;
  filter: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.08));
}

/*
  Intro
*/
#hands-together .title .logo {
  width: 200px;
  margin: 180px 0 30px 0;
}
#hands-together .title h5 {
  color: var(--gray);
}
#hands-together .title {
  margin-bottom: 50px;
}

#hands-together p {
  margin-bottom: 3rem;
}
#hands-together h2 {
  margin-bottom: 1rem;
}
#hands-together a {
  text-decoration: underline;
}
#hands-together .developers {
  margin-bottom: 0.5rem;
}

.shop-demo {
  margin-bottom: 8rem;
}