/*
  Images
*/
.images img {
  width: 100%;
  filter: drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.08));
}
.images .logo {
  height: 50px;
  width: 50px;
  margin: 180px 0 30px 0;
}
.images h5 {
  color: var(--gray);
  margin-bottom: 50px;
}
.images p {
  margin-bottom: 120px;
}
.images h2 {
  margin-bottom: 50px;
}
.images .row {
  margin-bottom: 100px;
}