/* 
  Intro 
*/
.intro {
  position: relative;
  margin: 100px 0px;;
  display: flex;
}
.intro .left {
  position: relative;
  flex: 3;
  padding-right: 50px;
}
.intro h1 {
  margin-top: 15%;
}
.intro h2 {
  margin: 30px 0px;
}
.intro .right {
  position: relative;
  flex: 2;
}
.intro .right img {
  width: 100%;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

/*
  Work
*/
.work {
  margin: 300px 0px 250px 0px;
}
.work > * {
  position: relative;
  margin: 120px 0px;
  display: flex;
}
.work .left {
  position: relative;
  flex: 4;
}
.work .left img {
  width: 100%;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}
.work .right {
  position: relative;
  flex: 5;
  padding: 0px 50px;

  /* Vertically center contents in right2 div */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .right:hover .arrow-link{
  transform: translateX(10px);
}
.work .right p {
  margin-top: 20px;
}
.work .right .arrow-link {
  position: absolute;
  right: 50px;
  transition: all 0.5s;
}
.work .front-rectangle {
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 120%;
  left: -10%;
  border: var(--red) solid 3px;
  border-radius: 30px;
  background: linear-gradient(236.03deg, #FFB7A7 15.77%, #FFECBC 80.92%);
}
.work .back-rectangle {
  position: absolute;
  z-index: -2;
  width: 110%;
  height: 120%;
  left: -8%;
  top: -6.5%;
  border: var(--red) solid 3px;
  border-radius: 30px;
}

/* 
  Mini Projects
*/
.mini {
  position: relative;
  margin: 100px 0px;
}
.mini .row {
  margin: 0px -30px;
}
.mini .col-md-6 {
  position: relative;
  padding: 20px 30px;
}
/*.mini .back-rectangle {
  background-color: white;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 0 3px var(--red) inset;
}*/
.mini img {
  position: ;
  width: 100%;
  border-radius: 30px;
  transition: all 0.5s;
}
/* Animate images on hover */
.mini img:hover { 
  transform: translate(-15px, -15px);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}
.mini h1 {
  margin-bottom: 50px;
}
.mini h4 {
  margin-top: 30px;
}
.mini p {
  font-weight: 600;
}

/*
  Experience
*/
.experience {
  position: relative;
  margin: 100px 0px;
}
.experience h1 {
  margin-bottom: 50px;
}
.experience .years {
  color: var(--gray);
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 30px;
}

/*
  Footer
*/
footer {
  margin: 300px 0px 200px 0px;
}
footer h1 {
  margin-bottom: 50px;
}

/*
  Background Details
*/
.rellax1, .rellax2, .rellax3 {
  position: absolute;
  left: -16.5%;
  z-index: -5;
}
.rellax1 {
  top: -30%;
}
.rellax2 {
  top: 0%;
}
.rellax3 {
  top: -30%;
}
.rellax1 img, .rellax2 img, .rellax3 img {
  width: 1500px;
}
