/* 
  Global 
*/

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
  font-family: 'Avenir Next', 'Proxima Nova', sans-serif;
}
:root {
  --black: #1a1a1a;
  --dgray: #696969;
  --gray: #969696;
  --red: #FF4848;
}
body {
  overflow-x: hidden;
  font-weight: 500;
}
#content-wrapper {
  width: 1140px;
  margin: auto;
}
@media (max-width: 1140px) {
  #content-wrapper { 
    width: auto;
    margin: auto 12%; 
  }
}
@media (max-width: 720px) {
  #content-wrapper { 
    width: auto;
    margin: auto 5%; 
  }
}
a {
  color: var(--black);
  font-size: clamp(1rem, 0.7692rem + 1.0256vw, 1.5rem);
  text-decoration: none;
}
h1 {
  color: var(--black);
  font-size: clamp(2.2rem, 1.6577rem + 2.4103vw, 3.375rem);
  font-weight: 600;
}
h2 {
  color: var(--black);
  font-size: clamp(1.3rem, 0.9769rem + 1.4359vw, 2rem);
}
h3 {
  color: var(--gray);
  font-size: clamp(1rem, 0.7692rem + 1.0256vw, 1.5rem);
}
h4 {
  color: var(--gray);
  font-size: clamp(0.75rem, 0.5769rem + 0.7692vw, 1.125rem);
}
h5 {
  color: var(--gray);
  font-size: clamp(0.6rem, 0.4731rem + 0.5641vw, 0.875rem);
}
p {
  color: var(--black);
  font-size: clamp(1rem, 0.7692rem + 1.0256vw, 1.5rem);
}
.bold {
  font-weight: 700;
}
.demi {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.small-body {
  font-size: clamp(0.9rem, 0.6808rem + 0.9744vw, 1.375rem);
  font-weight: 400;
}
.arrow-link {
  display: inline-block;
  height: 20px;
  width: auto;
  margin-left: 10px;
}
.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
  color: var(--black);
}
.link img {
  transition: all 0.5s;
}
.link:hover > img{
  transform: translateX(10px);
}

/*
  Navigation
*/
nav {
  padding: 4% 5%;
  width: 100%;
  z-index: 1;
}
nav a {
  transition: all 0.5s;
}
nav a:hover {
  text-decoration: none;
  color: var(--black);
  opacity: 0.6;
}
.nav-right a:hover {
  font-size: 20px;
}
.nav-left {
  float: left
}
.nav-right {
  float: right;
}
.nav-right a {
  margin-left: 50px;
  font-size: 1.125rem;
  font-weight: 600;
}

