/* 
  Global 
*/

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
  font-family: Avenir, 'Proxima Nova', sans-serif;
}
:root {
  --black: #1a1a1a;
  --dgray: #696969;
  --gray: #969696;
  --red: #FF4848;
}
body {
  overflow-x: hidden;
  font-weight: 500;
}
#content-wrapper {
  margin: auto 12%; /* Media Query? */
}
a {
  color: var(--black);
  font-size: 1.5rem;
  text-decoration: none;
}
h1 {
  color: var(--black);
  font-size: 3.375rem;
  font-weight: 600;
}
h2 {
  color: var(--black);
  font-size: 2rem;
}
h3 {
  color: var(--gray);
  font-size: 1.5rem;
}
h4 {
  color: var(--gray);
  font-size: 1.125rem;
}
h5 {
  color: var(--gray);
  font-size: 0.875rem;
}
p {
  color: var(--black);
  font-size: 1.5rem;
}
.bold {
  font-weight: 800;
}
.demi {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.arrow-link {
  display: inline-block;
  height: 20px;
  width: auto;
  margin-left: 10px;
}
.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
  color: var(--black);
}
.link img {
  transition: all 0.5s;
}
.link:hover > img{
  transform: translateX(10px);
}

/*
  Navigation
*/
nav {
  padding: 4% 5%;
  width: 100%;
  z-index: 1;
}
nav a {
  transition: all 0.5s;
}
nav a:hover {
  text-decoration: none;
}
.nav-right a:hover {
  font-size: 20px;
}
.nav-left {
  float: left
}
.nav-right {
  float: right;
}
.nav-right a {
  margin-left: 50px;
  font-size: 1.125rem;
  font-weight: bold;
}

